<!DOCTYPE html>
<html>
<head>
  <title>ApanaClinic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "autocomplete-rails.js" 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong>Apna Clinic</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ">
            <li><a href="#">Reports</a></li>
            <li><a href="#">patients</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            


           
         <%= form_for @patient, :html => { :class => "form-horizontal patient" } do |f| %>
            <div class="row">
            <div class='col-md-6' >
               <%= f.text_field :name, :class => 'form-control', :placeholder=> "Search..." %>
    
            </div>
             <%= f.submit "search", :class => 'btn btn-success' %>
            <%= link_to t('.new', :default => t("helpers.links.new")),
            new_patient_path,
            :class => 'btn btn-success' %>


          </div>
          <% end %>
          </form>
          



<%- model_class = Patient -%>
<div class="page-header">
 
</div>
<table class="table table-condensed table-hover">
  <thead>
    <tr class="warning">
      
      <th> Patient </th>
      
      <th> Doctor</th>
     
     
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        
        <td><%= patient.name %></td>
        <td><%= patient.doctors.name %></td>
        
        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_patient_path(patient), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

 </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1" style="border:1px solid #ddd">

                           <%= image_tag @patient1.avatar_url().to_s %>
             
                      <%= @patient1.name %></br>
                      Sex:<%= @patient1.gender %>
                      <%= @patient1.doctors.name %>

                    </br>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success" onclick="show('addressdiv'); hide('mobilediv'); hide('callhistorydiv');">Address</button>
                       <button type="button" class="btn btn-success" onclick=" hide('addressdiv'); hide('callhistorydiv');show('mobilediv');">contact</button>
                      <button type="button" class="btn btn-success" onclick=" hide('addressdiv'); hide('mobilediv');show('callhistorydiv');">call History</button>
                   </div>
                   <div id="mobilediv">

                      Mobile:<%= @patient1.mobile %></br>
                      Call Time:<%= @patient1.call_time %>
                    </div>
                    <div id = "addressdiv">
                      Address: <%= @patient1.address %>
                    </div>
                    <div id = "callhistorydiv">
                      History: 
                    </div>


            </div>
 <div class="row placeholders">
        
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 padding10 " style="border:1px solid #ddd ">


             
                      <%= @patient1.ralative_name %></br>
                      Sex:<%= @patient1.relation_with_relative %>
                      
                    </br>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success" onclick="show('addressdiv2'); hide('mobilediv2'); hide('callhistorydiv2');">Address</button>
                       <button type="button" class="btn btn-success" onclick=" hide('addressdiv2'); hide('callhistorydiv2');show('mobilediv2');">contact</button>
                      <button type="button" class="btn btn-success" onclick=" hide('addressdiv2'); hide('mobilediv2');show('callhistorydiv2');">call History</button>
                   </div>
                  
                     <div id="mobilediv2">

                      Mobile:<%= @patient1.relative_mobile %></br>
                      Call Time:<%= @patient1.call_time %>
                    </div>
                    <div id = "addressdiv2">
                      Address: <%= @patient1.address %>
                    </div>
                    <div id = "callhistorydiv2">
                      History: 
                    </div>

            </div>
          </div>
        


<div class="col-md-12"><hr></div>

          

        


<div class="col-sm-3">
<%- model_class = Report -%>
<div class="page-header">
  <strong>Report History</strong>
</div>
<table class="table table-condensed table-hovern table-bordered">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        
        <td><%= report.name %></td>
        <td><%= report.date %></td>
        
        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_report_path(report), :class => 'btn btn-success btn-xs ' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>







 <div class="col-md-12 col-md-offset-3">
   <div>
        Clinic:<%= @clinic.name %> &nbsp &nbsp&nbsp&nbsp&nbsp
          Date:<%= Date.today %>
     </div>

      <div>
          Doctor:<%= @doctor.name %> &nbsp &nbsp&nbsp&nbsp&nbsp
          Time:<%= Time.now%>
      </div>
    </br> </br></br>

 


     <label class="control-label">Prescription</label><input id="input-1" type="file" class="file">
     <label class="control-label">Tests</label><input id="input-1" type="file" class="file">
    
    <label class="control-label">Medicines</label><input id="input-1" type="file" class="file">

     </div>
    
    















          
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
